.wallet-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .wallet-modal-content {
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .wallet-modal-content h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .wallet-modal-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .wallet-modal-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .wallet-modal-coinbalance {
    font-size: 15px;
    margin-left: 10px;
  }

  .wallet-coinbalance-actions {
    display: flex;
    flex-direction: row;
  }

  .wallet-coinbalance-actions p {
    cursor: pointer;
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s;
  }

  .wallet-coinbalance-actions p:first-child {
    background-color: rgb(80, 213, 93);
  }

  .wallet-coinbalance-actions p:nth-child(2) {
    background-color: rgb(213, 186, 80);
  }

  .wallet-coinbalance-actions p:first-child:hover {
    background-color: rgb(55, 172, 67);
    font-size: 16px;
    transition: all 0.3s;
  }

  .wallet-coinbalance-actions p:nth-child(2):hover {
    background-color: rgb(175, 150, 50);
    font-size: 18px;
    transition: all 0.3s;
  }
  
  .wallet-modal-line {
    border: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .wallet-modal-placeholder {
    height: 100px;
    background-color: #1d1d1d;
    border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    align-items: center;
  }

  .wallet-modal-placeholder::-webkit-scrollbar {
    display: none;
  }
  
  .wallet-modal-placeholder {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .user-cryptos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .crypto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: left;
    background-color: #0e0e0e;
    min-width: 100px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
  }

  .crypto-info button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.3s;
    background-color: rgb(213, 186, 80);
    color: #ffffff;
    border: 0;
    margin-top: 5px;
  }

  .crypto-info button:hover {
    background-color: rgb(175, 150, 50);
    font-size: 14px;
    transition: all 0.3s;
  }

  .crypto-info-data {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .crypto-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }